{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <section class="section" style="margin-top: -30px;">
        <div class="container">
            <section class="articles">
                <div class="column is-8 is-offset-2">
                    {% for post in blog_pages %}
                        <div class="card" style="margin: 20px auto">
                            <div class="card-image">
                                <figure class="image is-3by1">
                                    {% image post.image fill-720x240 %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content has-text-centered">
                                        <p class="title article-title">
                                            <a href="{% pageurl post %}">
                                                {{ post.title }}
                                            </a>
                                        </p>
                                        <div class="tags has-addons level-item">
                                            <span class="tag is-rounded">{{ post.date|date:"d.m.Y" }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="content article-body">
                                    {{ post.specific.intro|richtext }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </section>
{% endblock %}